body {
  min-width: 400px;
  min-height: 550px;
  overflow-x: hidden;
  padding-top: 30px;
  text-align: center;
}

#logo {
  height: 30%;
  width: 30%;
}

#heading {
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

#content {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}
